<fieldset>
  <legend>
    Entry
  </legend>
  <div>
    <%= form_for @entry do |f|%>
    <% if @entry.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% @entry.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p><%= f.collection_select :category_id, Category.all, :id, :name, {prompt: 'Select Category'} %></p>
    <br />

    <div>

      <div>
        <%= f.text_field :title, :placeholder => "Title", :size => "37"%>
      </div>
      <br />

      <div >
        <%= f.text_field :institute, :placeholder => "Institute", :size => "37"%>
      </div>
      <br />

      <div>
        <%= f.url_field :website, :placeholder => "URL https://", :size => "37"%>
      </div>
      <br />

      <!-- #The drop-down option for selecting country -->
      <div>
        <%= f.country_select :country, {priority: %w(US CA), prompt: "Select Country"}%>
      </div>
      <br />

      <div>
        <%= f.text_area :description, :placeholder => "Description", :size => "37"%>
      </div>
      <br />

      <div>
        <%= f.label :deadline%> <br>
        <%= f.date_field :deadline, :value => "deadline", :size => "37"%>
      </div>
      <br />

    </div>

    <p>
      <%=f.submit%>
    </p>

    <%end%>
  </div>
</fieldset>
