<%= form_for @entry do |f|%>

<% if @entry.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% @entry.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

 <p><%= f.collection_select :category_id, Category.all, :id, :name %></p>

<div class = "form">

<div class = title>
  <%= f.text_field :title, :placeholder => "Title"%> length: { maximum: 100}
</div>


<div class= institute>
  <!-- <%= f.label :Institute%> <br> -->
  <%= f.text_field :institute, :placeholder => "Institute"%> length: { maximum: 100}
</div>

<div class= website>
<%= f.text_field :website, :placeholder => "Link"%> length: { maximum: 100}
</div>

<!-- #The drop-down option for selecting country -->
<div class= country>
  <%= f.country_select :country, {priority: %w(US CA), prompt: 'Select Country'}%>
</div>

<div class= description>
  <%= f.text_area :description, :placeholder => "Description"%> length: { maximum: 250}
</div>

<div class= deadline>
  <%= f.label :deadline%> <br>
  <%= f.date_field :deadline, :value => "deadline"%>
</div>

</div>

<p>
  <%=f.submit%>
</p>

<%end%>
