<div class = "container">
<h2 class="scholarships"> scholarships </h2>
<div class="entry_button">
  <button type="button" class="btn btn-default"><%= link_to 'New Entry', new_entry_path%></button>
</div>
  <table class = "categories">
      <tr>
      <% @categories.each do |category| %>
        <td><%= link_to category.name, entries_path(filter: {category_id: category}) %></td>
        <% end %>
      </tr>
  </table>

  <table>
    <tr class = "title">
      <th>Title</th>
      <th>Deadline</th>
      <th>Institute</th>
      <th>Country</th>
      <th>Website</th>
      <th>Description</th>
      <th> Visit </th>
      <th></th>
      <th></th>
    </tr>

    <% @entries.each do |entry|%>
    <tr class="body">

      <td><%=entry.title%></td>
      <td><%=entry.deadline%></td>
      <td><%=entry.institute%></td>
      <td><%=entry.country%></td>
      <td><a href="<%=entry.website %>"> Link </a></td>
      <td><%=entry.description%></td>


      <td><%= link_to 'View', entry_path(entry)%></td>

      <td><% if can? :edit, entry %>
        <td><%= link_to 'Edit', edit_entry_path(entry)%></td>
        <%end%>
      </td>

      <td><% if can? :destroy, entry %>
        <td><%= link_to 'Delete', entry_path(entry),
        method: :delete %>
        <% end%>
      </td>
      <tr class= "author">
        <td colspan="9"><%= entry.created_at.strftime("%B %d, %Y") %> </td><br />
        <!-- <td><%=link_to entry.user.first_name, user_path(entry.user)%> </td> -->
      </tr>
    </tr>

    <%end%>
  </table>

<div class ="paginate"><%= will_paginate @entries, renderer: BootstrapPagination::Rails %></div>
</div>
