<div class = "container">
<h2 class = "heading">Scholarships</h2>

 <button type="button" class="btn btn-default"><%= link_to 'New Entry', new_entry_path%></button>

<div class ="entries">
<table>
  <tr>
    <th>Title</th>
    <th>Deadline</th>
    <th>Institute</th>
    <th>Country</th>
    <th>Website</th>
    <th>Description</th>

    <% @categories.each do |category| %>
    <ul>
      <%= link_to category.name, entries_path(filter: {category_id: category}) %>
    </ul>
    <% end %>

    <th colspan="1"></th>
  </tr>
  <% @entries.each do |entry|%>

    <td><%=entry.title%></td>
    <td><%=entry.deadline%></td>
    <td><%=entry.institute%></td>
    <td><%=entry.country%></td>
    <td><a href="<%=entry.website %>"> Link </a></td>
    <td><%=entry.description%></td>
    <%= entry.created_at.strftime("%B, %d, %Y") %>

    <!-- #creating 'show' and 'edit' functionalities -->
    <!-- <td><%= link_to 'Show', entry_path(entry)%></td> -->

    <%= link_to entry.user.first_name, user_path(entry.user) %>

    <td><%= link_to 'View', entry_path(entry)%></td>

    <% if can? :edit, entry %>
      <td><%= link_to 'Edit', edit_entry_path(entry)%></td>
    <%end%>

    <% if can? :destroy, entry %>
      <td><%= link_to 'Delete', entry_path(entry),
      method: :delete %></td>
    <% end%>

  <%end%>
  </div>
</table>

</div>

<%= will_paginate @entries, renderer: BootstrapPagination::Rails %>
