<div class = "container">
  <%#The below button renders the new.html.erb file, which then renders the partial form to allow the user
  to make a new entry if she is logged in, if not, then the login/signup page shows.%>
  <div class="entry_button">
    <button type="button" class="btn btn-default"><%= link_to 'New Entry', new_entry_path%></button>
  </div>
  <%#The below code shows all the categories and allows a user to view related entries by clicking on a
  specific category%>
  <table class = "categories">
    <tr>
      <% @categories.each do |category| %>
      <td><%= link_to category.name, entries_path(filter: {category_id: category}) %></td>
      <% end %>
    </tr>
  </table>

  <%#Titles row for entries%>
  <table>
    <tr class = "title">
      <th>Title</th>
      <th>Deadline</th>
      <th>Institute</th>
      <th>Description</th>
      <th>Website</th>
      <th>Country</th>
    </tr>

    <%#The below code shows content of entries and each cell goes in its appropriate table
    columns under the title's table above%>
    <% @entries.each do |entry|%>
    <tr class="body">
      <td><%=entry.title%></td>
      <td><%=entry.deadline%></td>
      <td><%=entry.institute%></td>
      <td><%=entry.description%></td>
      <td><a href="<%=entry.website %>"> Link </a></td>
      <td><%=entry.country%></td>
    </tr>

    <tr class="author">
      <td><%= entry.created_at.strftime("%B %d, %Y") %> </td>
      <%#Below is link to open entrie in a new page%>
      <td><%= link_to 'View', entry_path(entry)%></td>
      <th></th>
      <th></th>

      <%#Below is the code that allows the user to edit and delete their entries if logged in%>
      <div>
        <% if can? :edit, entry %>
        <td id="edit_link"><%= link_to 'Edit', edit_entry_path(entry)%></td>
        <%end%>
        <% if can? :destroy, entry %>
        <td id="delete_link"><%= link_to 'Delete', entry_path(entry),
        method: :delete %></td>
        <% end%>
      </div>

    </tr>
    <%end%>
  </table>

  <div class ="paginate"><%= will_paginate @entries, renderer: BootstrapPagination::Rails %></div>

</div>
