<div class = "container">
  <table>
    <tr class = "title">
      <th>Title</th>
      <th>Deadline</th>
      <th>Institute</th>
      <th>Country</th>
      <th>Website</th>
      <th>Description</th>
    </tr>

    <tr class="body">
      <td><%=@entry.title%></td>
      <td><%=@entry.deadline%></td>
      <td><%=@entry.institute%></td>
      <td><%=@entry.country%></td>
      <td><a href="<%=@entry.website %>"> Link </a></td>
      <td><%=@entry.description%></td>
    </tr>

    <td><% if can? :edit, @entry %>
      <td><%= link_to 'Edit', edit_entry_path(@entry)%></td>
      <%end%>
    </td>

    <td><% if can? :destroy, @entry %>
      <td><%= link_to 'Delete', entry_path(@entry),
      method: :delete %>
      <% end%>
    </td>


    <tr class="author">
      <td><%= link_to @entry.user.first_name, user_path(@entry.user) %></td>
      <td colspan="5"><%= @entry.created_at.strftime("%B %d, %Y") %> </td> </br>
    </tr>
  </tr>
</table>
<div class="back">
  <button type="button" class="btn btn-default"><%= link_to 'Back', entries_path%> </button>
</div>
</div>
