<p>
  <strong> Title </strong>
  <%= @entry.title %>
</p>

<p>
  <strong> Deadline </strong>
  <%= @entry.deadline %>
</p>

<p>
  <strong> Description </strong>
  <%= @entry.description %>
</p>

<p>
  <strong> Institute </strong>
  <%= @entry.institute %>
</p>

<p>
  <strong> Website </strong>
  <%= @entry.website %>
</p>

<p>
  <strong> Country </strong>
  <%= @entry.country %>
</p>

<%= link_to 'Back', entries_path%>
