<div class = "container">
  <h1>Profile</h1>

  <p>
    <%= @user.first_name %>
  </p>

  <p>
    <%= @user.last_name %>
  </p>

  <p>
    <%= @user.about %>
  </p>


  <button><%= link_to 'New Entry', new_entry_path%></button>

  <table>

    <% @categories.each do |category| %>
    <ul>
      <%= link_to category.name, user_path(current_user, filter: {category_id: category}) %>
    </ul>
    <% end %>

    <tr class = "title">
      <th>Title</th>
      <th>Deadline</th>
      <th>Institute</th>
      <th>Country</th>
      <th>Website</th>
      <th>Description</th>
    </tr>

    <% @entries.each do |entry|%>
    <tr>
      <td><%=entry.title%></td>
      <td><%=entry.deadline%></td>
      <td><%=entry.institute%></td>
      <td><%=entry.country%></td>
      <td><a href="<%=entry.website %>"> Link </a></td>
      <td><%=entry.description%></td>
      <td><%= entry.created_at.strftime("%B, %d, %Y") %></td>


      <td><%= link_to 'Edit', edit_entry_path(entry)%></td>
      <td><%= link_to 'Delete', entry_path(entry),
      method: :delete %></td>

      <% end %>
    </tr>
  </table>

</div>

<div class ="back"><%= link_to 'Back', entries_path%> </div></div>
<div class ="paginate"><%= will_paginate @entries, renderer: BootstrapPagination::Rails %></div>
