<h1>Profile</h1>

<p>
  <%= @user.first_name %>
</p>

<p>
  <%= @user.last_name %>
</p>

<p>
  <%= @user.about %>
</p>


<button><%= link_to 'New Entry', new_entry_path%></button>

  <table>
  <tr>
    <th>Title</th>
    <th>Deadline</th>
    <th>Institute</th>
    <th>Country</th>
    <th>Website</th>
    <th>Description</th>

<% @entries.each do |entry|%>
<tr>
  <td><%=entry.title%></td>
  <td><%=entry.deadline%></td>
  <td><%=entry.institute%></td>
  <td><%=entry.country%></td>
  <td><a href="<%=entry.website %>"> Link </a></td>
  <td><%=entry.description%></td>
  <%= entry.created_at.strftime("%B, %d, %Y") %>

  <td><%= link_to 'Edit', edit_entry_path(entry)%></td>
  <td><%= link_to 'Delete', entry_path(entry),
          method: :delete %></td>

  <% end %>

<%= link_to 'Back', entries_path%>
